html {
    min-height: 100vh;
}

body {
    background: linear-gradient(#080B3A, #8E839C);
}

.page-title {
    font-family: 'Splash', sans-serif;
    font-size: 5em;
    color: #f3e4e4;
    margin-bottom: 0;
    text-align: center;
}

.page-subtitle {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    color: #bba83d;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.game-container {
    margin: auto;
    /* border: 2px solid hotpink; */
    display: flex;
    flex-direction: column;
}

.game-info-container {
    width: 50%;
    margin: auto;
    display: flex;
    /* border: 2px dotted white; */
    justify-content: space-around;

}

.game-info {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1em;
    color: #9e8698;
    width: 25%;
    /* border: 1px dashed lightgreen; */
}

.card-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    
}

.card {
    height: 175px;
    width: 125px;
    background-color: black;
}